/* Scss Document */
.bag{
		height: 35px;
		width: 35px;
		background-color:#FFDD00;
		border-radius: 50%;
		display: inline-block;
        margin-left: 30px;
        text-align: center;
        padding: 35px;

	}